<h2>Send a Comment</h2>

<%= form_tag comments_path do %>
  <p>
    <%= label_tag 'comment' %>
    <%= text_field_tag 'comment', params[:comment] %> 
  </p>
  <p>
    <%= anti_spam_form %>
  </p>
  <p>
    <%= submit_tag 'Send to nowhere!' %>
  </p>
<% end %> 